VITE_API_URL=http://localhost:8787
VITE_SUPABASE_URL=https://khzrapojrkhxjsjgnflr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtoenJhcG9qcmtoeGpzamduZmxyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2NDYzNjEsImV4cCI6MjA5NTIyMjM2MX0.tTVOQYRhH5XfcmGWK2b3YWliEMPQmgYcEQZErje2PIM
